<div class="container">
    <div class="row">
        <div class="panel panel-default registerPanel">
            <div class="panel-body">
                <div class="wrapper">
                    <form method="POST" class="form-signin" id="signInForm">
                        <h2 class="form-signin-heading">Login</h2>
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control" name="email" placeholder="Email Address" autofocus required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                            <label class="chkRmbrMe">
                                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn SercBtn regFormBtn btn-block" id="signinSubmit" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/Registration/SignIn.js"></script>

